* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", serif;
}

:root {
    --fundo: #EAD9B6;
    --fundocard: #1B1B1F;
    --principal: #6D071A;
    --claro: #8B1028;
    --dou1: #C9A227;
    --dou2: #e5c76b;
    --textopri: #f5f5f5;
    --textosec: #b8b8b8;
}

body{
    background-color: var(--fundo);
}

header {
    display: flex;
    justify-content: center;
    padding-block: 2.8rem;
}

main {
    background-color: #f5e9d7;
    padding: 2rem;
    border-radius: 1.5625rem 1.5625rem 0 0;
}

.conta,
.gorjeta,
.pessoas {
    margin-bottom: 2rem;
}

.conta label,
.gorjeta label,
.pessoas label {
    color: #8B1028;
    font-weight: 700;
}

.conta div,
.pessoas div {
    margin-top: 0.4rem;
    background-color: var(--textosec);
    padding: 0.4rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125rem;
}

.conta input,
.pessoas input {
    border: none;
    text-align: right;
    width: 100%;
    background: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--principal);
    outline: none;
}

.conta input::placeholder,
.pessoas input::placeholder {
    color: #b93d56
}

.conta:has(input:focus) div,
.pessoas:has(input:focus) div{
    outline: 2px solid #420101;
}

.gorjeta div {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.gorjeta input {
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    text-align: center;
    outline: none;
    padding-block: 0.4rem;
    border-radius: 0.3125rem;
    background-color: #4d0715;
    color: white;
}

.gorjeta #outra {
    width: 100%;
    background-color: #310911;
}

.gorjeta #outra::placeholder {
color: #a0122f;
}

.pessoas #erro {
    display: none;
}

.resultados {
    background-color: #4d0715;
    border-radius: 0.9375rem;
    padding: 1.5rem;
}

.resultados div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultados p {
    color: var(--textosec);
}

.resultados p strong {
    color: var(--textopri);
    font-size: 1rem;
}

.resultados div > strong {
    color: #b10628;
    font-size: 2rem;
}

.resultados .gorjeta-total {
    margin-bottom: 1.25rem;
}

.resultados .total {
    margin-bottom: 2rem;
}

.resultados button {
    width: 100%;
    background-color: #420101;
    border: none;
    border-radius: 0.3125rem;
    color: #a3132e;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-block: 0.5rem;
}

@media(min-width: 920px) {
    main {
        display: flex;
        gap: 3rem;
        padding: 3rem;
        border-radius: 1.5625rem;
        max-width: 57.5rem;
        margin-inline: auto;
    }

    main section {
        width: 100%;
    }

    .gorjeta div {
        grid-template-columns: 1fr 1fr 1fr;
    }
}